body {
    background: url(../img/splash-1.svg), url(../img/splash-2.svg), url(../img/ilustracao-inicial.svg), var(--azul);
    background-repeat: no-repeat;
    background-position: top left, right 12rem, bottom 6rem center;
    background-size: 90vw, 9vh, auto;
    color: var(--branco);
}

.container__inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vw auto 19rem;
}

.logo__inicial {
    margin-bottom: 2.5rem;
}

.titulo__inicial {
    font-family: var(--fonte-secundaria);
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.texto__inicial, .texto__inicial--desktop {
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    max-width: 65vw;
}

.logo__cabecalho {
    display: none;
}

.texto__inicial--desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    body {
        background-size: 70vw, 10vh, 40vh;
        background-position: top left, right 12rem, bottom 4rem center;
    }

    .container__inicial {
        margin: 12vw auto 50vh;
        width: 40vh;
    }

    .logo__inicial {
        display: block;
        margin-bottom: 2.5rem;
        width: 250px;
    }

    .titulo__inicial {
        font-family: var(--fonte-secundaria);
        font-size: 1.85rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .texto__inicial--desktop {
        display: block;
        font-size: 18px;
    }

    .texto__inicial {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    body {
        background-size: 70vh, 13vh, 40vh;
    }

    .container__inicial {
        margin: 0 auto 50vh;
        width: 50vh;
    }

}